# Python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/chroma_db/
backend/chunks_cache.json
backend/cookies.txt

# Node
frontend/node_modules/
frontend/build/

# General
.DS_Store
*.log

.env
backend/.env
*.env